head {font-family:Verdana; font-size:12px; color:#FFFFFF;}
body {font-family:Verdana; font-size:12px; color:#dddddd;}
a {color:#d82838; font-family:Verdana; font-size:12px;font-weight:bold;}
bluetext {color:#0000ff;}